<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="amendments"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
<div class="modal-dialog modal-sm content-container">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create BESR</h4>
    </div>
    <div class="modal-body modal-height">
      BODY
    </div>
    <div class="modal-footer">
      FOOTER
    </div>
  </div>

</div>
  BESR CREATE MODAL
</div>
