<h1>  App 03  Databinding</h1>
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>&nbsp;|&nbsp;
  <a routerLink="/data-binding-syntax" routerLinkActive="active">Data binding syntax</a>&nbsp;|&nbsp;
  <a routerLink="/two-way-binding" routerLinkActive="active">Two way binding</a>&nbsp;|&nbsp;
  <a routerLink="/ng-if" routerLinkActive="active">ngIf</a> |
  <a routerLink="/ng-if-then-else" routerLinkActive="active">ngIf-then-else</a> |
  <a routerLink="/ng-for" routerLinkActive="active">ngFor</a> |
  <a routerLink="/ng-switch" routerLinkActive="active">ngSwitch</a> |
  <a routerLink="/additional-techniques" routerLinkActive="active">Additional techniques</a>
</nav>


<router-outlet></router-outlet>

